<div>
    <a href="/">Volver a la lista de productos</a>
    <h1>Detalles del Producto</h1>
    <hr>
    {{#if product}}
    <div>
        {{#if product.thumbnails.length}}
            <img src="{{product.thumbnails.[0]}}" alt="Imagen de {{product.title}}" style="max-width: 400px; border-radius: 8px;">
        {{/if}}
        <h2>{{product.title}}</h2>
        <p><strong>Descripción:</strong> {{product.description}}</p>
        <p><strong>Precio:</strong> ${{product.price}}</p>
        <p><strong>Categoría:</strong> {{product.category}}</p>
        <p><strong>Stock:</strong> {{product.stock}} unidades</p>
        <p><strong>ID:</strong> {{product._id}}</p>
    </div>
    {{else}}
    <p>Producto no encontrado.</p>
    {{/if}}
</div>